@model IEnumerable<AppUser>

<a href="/Users/Create" class="btn btn-primary" >Create User</a>
<hr>
<table class="table table-sm table-border">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>